<% @page_title = @movie.title %>
<h1><%= @page_title %></h1>

<table class="attr">
  <tr>
    <th width="100">タイトル</th>
    <td><%= @movie.title %></td>
  </tr>
  <tr>
    <th>作品概要</th>
    <td><%= simple_format(@movie.explanation) %></td>
  </tr>
  <tr>
    <th>公開開始日</th>
    <td><%= @movie.released_at.strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <th>公開終了日</th>
    <td><%= @movie.expired_at.try(:strftime, "%Y/%m/%d") %></td>
  </tr>
  <tr>
    <th>上映時間</th>
    <td><%= @movie.screening_time %>分</td>
  </tr>
  <tr>
    <th>配給</th>
    <td><%= @movie.distribution %></td>
  </tr>
  <tr>
    <th>監督</th>
    <td><%= @movie.director %></td>
  </tr>
</table>

<br>
<h5>上映劇場一覧</h5>
<% @theaters.each do |theater| %>
    <table class="attr">
        <tr>
            <th width="150">店舗名</th>
            <td><%= theater.store_name %></td>
        </tr>
        <tr>
            <th width="150">住所</th>
            <td><%= theater.address %></td>
        </tr>
        <tr>
            <th width="150">電話番号</th>
            <td><%= theater.tel %></td>
        </tr>
        <tr>
            <th width="150">この劇場で見る</th>
            <td><%= link_to @movie.title + "を" + theater.store_name + "で見る", theater_schedule_path(theater.id) %></td>
        </tr>
        <tr>
            <th width="150">上映作品</th>
            <td><%= link_to theater.store_name + "で上映中の作品一覧", theater_path(theater.id) %></td>
        </tr>
    </table>
<% end %>