<% @page_title = "予約一覧" %>

<h1><%= @page_title %></h1>

<%= form_tag :search_admin_reservations, method: :get, class: "search" do %>
    <%= text_field_tag "q", params[:q] %>
    <%= submit_tag "検索" %>
<% end %>

<br>

<table>
<tr>
    <td><%= button_to "更新時間順", :updtime_admin_reservations, {method: :get} %></td>
    <td><%= button_to "予約確定のみ表示", :confirm_admin_reservations, {method: :get} %></td>
    <td><%= button_to "予約未確定のみ表示", :nonconfirm_admin_reservations, {method: :get, disabled: true} %></td>
</tr>
</table>

<%= render "body" %>