<% @page_title = @theater.store_name + "で上映中の" %>

<h1><%= @page_title %><%= link_to @movie.title, movie_path(@movie.id) %></h1>

<% allsche = "/theaters/" + @theater.id.to_s + "/schedules/" + @movie.id.to_s %>
<%= button_to "すべての上映", allsche, {method: :get} %>

<% dows = ["(日)", "(月)", "(火)", "(水)", "(木)", "(金)", "(土)"] %>
<table>
<tr>
<% for day in 0..6 do %>
    <% dow = Date.today.days_since(day).wday %>
    <td><%= button_to Date.today.days_since(day).strftime('%m/%d') + dows[dow], {controller: 'schedules', action: 'byday'}, {method: :get, params: {movid:@movie.id, day: day}} %></td>
<% end %>
</tr>
</table>

<% if @schedules.present? %>

    <table class="list">
        <thead>
            <tr>
                <th>上映日</th>
                <th>上映開始時間</th>
                <th>上映終了時間</th>
                <th>スクリーン</th>
                <th>予約購入</th>
            </tr>
        </thead>
        <tbody>
            <% @schedules.each do |schedule| %>
                <tr>
                    <td><%= schedule.screening_date.strftime('%Y/%m/%d') + dows[schedule.screening_date.wday] %></td>
                    <td><%= schedule.starttime.strftime('%H:%M') %></td>
                    <td><%= schedule.endtime.strftime('%H:%M') %></td>
                    <td><%= schedule.screen_no %></td>
                    <td>
                        <%=link_to new_reservation_path(scheid:schedule.id) do %>
                            <button type="button" class="btn btn-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-index-thumb-fill" viewBox="0 0 16 16">
                                    <path d="M8.5 1.75v2.716l.048-.002c.311-.012.74-.016 1.05.046.28.056.543.18.738.288.274.152.456.385.56.642l.132-.012c.312-.024.794-.038 1.158.108.37.148.689.487.88.716.075.09.141.175.195.248h.582a2 2 0 0 1 1.99 2.199l-.272 2.715a3.5 3.5 0 0 1-.444 1.389l-1.395 2.441A1.5 1.5 0 0 1 12.42 16H6.118a1.5 1.5 0 0 1-1.342-.83l-1.215-2.43L1.07 8.589a1.517 1.517 0 0 1 2.373-1.852L5 8.293V1.75a1.75 1.75 0 0 1 3.5 0z"/>
                                </svg>
                                予約購入
                            </button>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= paginate @schedules %>
<% else %>
    <p>上映がありません。</p>
<% end %>