<nav class="menubar" id="admin-menubar">
  <ul>
    <%= menu_link_to "管理ログイン", :admin_root unless current_member %>
    <%= menu_link_to "管理者マイページ／メニュー", admin_admins_path %>
    <%= menu_link_to "作品編集", admin_movies_path %>
    <%= menu_link_to "上映編集", admin_schedules_path %>
    <%= menu_link_to "予約一覧", admin_reservations_path %>
  </ul>
</nav>
