<% @page_title = "予約内容確認" %>

<h1><%= @page_title %></h1>

<%= form_for @reservation, as: "reservation" do |form| %>
    <%= render "body2" %>
    
    <%= form.hidden_field :id %>

    <div class="submit_button"><%= form.submit "予約確定" %></div>
<% end %>