<% @page_title = "劇場一覧" %>
<h1><%= @page_title %></h1>

<% @theaters.each do |theater| %>
    <table class="attr">
        <tr>
            <th width="150">店舗名</th>
            <td><%= theater.store_name %></td>
        </tr>
        <tr>
            <th width="150">住所</th>
            <td><%= theater.address %></td>
        </tr>
        <tr>
            <th width="150">電話番号</th>
            <td><%= theater.tel %></td>
        </tr>
        <tr>
            <th width="150">上映作品</th>
            <td><%= link_to theater.store_name + "で上映中の作品一覧", theater_path(theater.id) %></td>
        </tr>
    </table>
<% end %>
