<table class="attr">
    <tr>
        <th width="150">ログインID</th>
        <td><%= @member.login_id %></td>
    </tr>
    <tr>
        <th width="150">パスワード</th>
        <td></td>
    </tr>
    <tr>
        <th width="150">氏名</th>
        <td><%= @member.name %></td>
    </tr>
    <tr>
        <th width="150">生年月日</th>
        <td><%= @member.birthday %></td>
    </tr>
    <tr>
        <th width="150">電話番号</th>
        <td><%= @member.tel %></td>
    </tr>
    <tr>
        <th width="150">メールアドレス</th>
        <td><%= @member.email %></td>
    </tr>
    <tr>
        <th width="150">クレジット情報</th>
        <td><%= @member.payment %></td>
    </tr>
</table>
